* {
	box-sizing: border-box;
}

html {
	font-size: 18px;
}



@media(max-width: 768px) {
	html {
		font-size: 14px;
	}

}

body {
	margin: 0;
	font-family: 'Lato', 'Verdana',sans-serif;
}
.fluid-video-container {
	width: 100%;
	position: relative;
}
.img-responsive {
	max-width: 100%;
	height: auto;
}
[class*='col-'] {
	float: left;
	min-height: 100vh; 
}
.col-padding {
	padding: 6% 4% 8% 10%;
}
.col-50 {
	width: 50%;
}

.col-55 {
	width: 55%;
}

.col-45 {
	width: 45%;
	height: 100%;
}

@media(max-width: 768px) {
	.col-padding {
        padding: 2rem 61px 2rem 2rem;
	}
	.col-50,
	.col-45,
	.col-55
	{
		width: 100%;
	}

}

.splash {
	top: 0;
	left: 0;
	text-align: center;
	position: fixed;
	z-index: 1000;
	background-color: #fff;
	width: 100%;
	height: 100%;
}

.splash__container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
}

.splash__image {
	display: block;
	margin: 0 auto 1rem auto;

	animation: rotate 2s linear infinite;
}

.content-holder {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;

}

.page {
	min-height: 100%;
	width: 100%;
	color: #fff;
}


.page:after {
	content: "";
	display: table;
	clear: both;
}
.page__titulo {
	font-size: 3.6rem;
	font-weight: bold;
	color: #fff;
	line-height: 4.3rem;
}
.page__descricao--padding {
	padding-left: 6rem;
}

.page__descricao--contato {
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	float: right;
}

.page__descricao--contato > a {
	color: inherit;
	text-decoration: none;
}

.page__logo {
	margin-bottom: 4rem;
}

.page__logo--centro {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d(43%,-50%,0);
    max-height: 550px;
}
.cor--rosa {
	color: #ff9966;
}

.cor--azul {
	color: #003366;
}

.cor--azul-fraco {
	color: #99cccc;
}

.bg--azul {
	background-color: #003366;
}

.bg--cinza-azulado {
	background-color: #ccffff;	
}

.fundo--empilhadeira,
.fundo--empilhadeira-rosa,
.bg--footer {
	background-image: url('../images/bg-empilhadeira.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.bg--footer {
	background-image: url('../images/bg-footer.png');
}

.fundo--empilhadeira-rosa {
	background-image: url('../images/bg-empilhadeira-rosa.jpg');
}

@media(max-width: 498px) {
	.page__titulo:not(.page__titulo--big) {
	    font-size: 2.4rem;
	    line-height: 3rem;
	}
}

@media(max-width: 768px) {
	.page__titulo {
	    z-index: 1000;
    	position: relative;
	}
	.fundo--empilhadeira,
	.fundo--empilhadeira-rosa,
	.bg--footer {
		background-attachment: scroll;
	}

	.page__descricao--padding {
		padding-left: 0;
	}

	.page__logo {
	    max-width: 83%;
	}

	.page__logo--centro {
	    top: 100%;
	    transform: translate3d(-14%,-106%,0);
	    opacity: .7;
	}

	.page__descricao--contato {
		float: left;
	}
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUpLogo {
  from {
    opacity: 0;
    transform: translate3d(43%,-30%,0)  scale(0.8);
  }

  to {
    opacity: 1;
    transform: translate3d(43%,-50%,0) scale(1);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

[data-animate-on-scroll] {
	opacity: 0;
}

[data-animate-onload],
[data-animate-on-scroll]  {
  animation-duration: 1s;
  animation-fill-mode: both;  	
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.fadeInUpLogo {
  animation-name: fadeInUpLogo;

}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.fadeInZoom {
  animation-name: fadeInZoom;
}


/* hacks */
@media(max-width: 768px) {
	.hide-small {
		display: none;
	}
}