* {
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

body {
	margin: 0;
	font-family: 'Lato', 'Verdana',sans-serif;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}
[class*='col-'] {
	float: left;
	min-height: 100vh; 
}
.col-padding {
	padding: 6% 4% 8% 10%;
}
.col-50 {
	width: 50%;
	background-color: #003366;
}

.col-55 {
	width: 55%;
	background-color: #003366;
}

.col-45 {
	width: 45%;
	height: 100%;
	background-color: orange;
}

.splash {
	top: 0;
	left: 0;
	text-align: center;
	position: fixed;
	z-index: 1000;
	background-color: #fff;
	width: 100%;
	height: 100%;
}

.splash__container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
}

.splash__image {
	display: block;
	margin: 0 auto 1rem auto;

	animation: rotate 2s linear infinite;
}

.content-holder {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;

}

.page {
	min-height: 100%;
	width: 100%;
	background-color: #ccc;
}

.page:after {
	content: "";
	display: table;
	clear: both;
}
.page:nth-child(even) {
	background-color: red;
}

.page__titulo {
	font-size: 3.6rem;
	font-weight: bold;
	color: #fff;
	line-height: 4.3rem;
}

.page__logo {
	margin-bottom: 4rem;
}
.fundo--empilhadeira {
	background-image: url('../images/bg-empilhadeira.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}