.menu-holder {
	background-color: #fff;
	width: 60px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	height: 100%;
}

.menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}

.logo-menu {
    position: absolute;
    width: 250px;
    cursor: pointer;
    padding: .5rem;
    margin: 1rem auto;
    background-color: rgba(0,0,0,0);
    max-height: 64px;
    transition: transform .3s, padding .3s,background-color .4s;
    transition-delay: .4s;
}

#toggleMenu {
	display: none;
}

.toggleMenu:checked ~ .logo-menu {
	padding-left: 1rem;
	background-color: rgba(255,255,255,1);
	transform: translate3d(-180px,0,0);
}


.logo-menu__imagem {
    max-width: 38px;
    margin-right: 8px;
    transition: transform .5s;
}

@media(max-width: 768px) {
	.logo-menu__imagem {
		margin-left: 4px;
	}
}

@media(min-width: 769px) {
	.logo-menu:hover {
		padding-left: 1rem;
		background-color: rgba(255,255,255,1);
		transform: translate3d(-180px,0,0);
	}

	.logo-menu:hover > .logo-menu__imagem {
		transform: rotate(360deg);
	}
}

.toggleMenu:checked ~ .logo-menu > .logo-menu__imagem {
	transform: rotate(360deg);
}

.logo-menu__label {
    display: inline;
    font-size: 1rem;
    vertical-align: super;
    color: #999;
}

.menu__item {
	cursor: pointer;
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: #ccc;
	margin: 1rem auto;
	transition: transform .3s, background-color .3s;
}

.menu__item--active {
	transform: scale(1.45);
	background-color: #aaa;
}

@media(min-width: 769px) {
	.menu__item:hover {
		transform: scale(1.45);
		background-color: #aaa;
	}
}

.menu > .menu__item:nth-child(1).menu__item--active {
	background-color: #66cccc;
}
.menu > .menu__item:nth-child(2).menu__item--active {
	background-color: #996699;
}
.menu > .menu__item:nth-child(3).menu__item--active {
	background-color: #cc9966;
}
.menu > .menu__item:nth-child(4).menu__item--active {
	background-color: #333366;
}
.menu > .menu__item:nth-child(5).menu__item--active {
	background-color: #66cccc;
}
.menu > .menu__item:nth-child(6).menu__item--active {
	background-color: #66cccc;
}

@media(min-width: 769px) {
	.menu__item:hover {
		transform: scale(1.45);
		background-color: #aaa;
	}

	.menu > .menu__item:nth-child(1):hover {
		background-color: #66cccc;
	}
	
	.menu > .menu__item:nth-child(2):hover {
		background-color: #996699;
	}
	
	.menu > .menu__item:nth-child(3):hover {
		background-color: #cc9966;
	}
	
	.menu > .menu__item:nth-child(4):hover {
		background-color: #333366;
	}
	
	.menu > .menu__item:nth-child(5):hover {
		background-color: #66cccc;
	}
	
	.menu > .menu__item:nth-child(6):hover {
		background-color: #66cccc;
	}	
}